<form method="post" action="/admin/add" enctype="multipart/form-data">

  
  	<h1>Add a project</h1>
    <div>
      <label>Title
        <input type="text" placeholder="Title" name="title" />
      </label>
    </div>

    <div>
      <label>Service
        <input type="text" placeholder="Service" name="service"/>
      </label>
    </div>

    <div>
      <label>Client
        <input type="text" placeholder="Client" name="client"/>
      </label>
    </div>

    <div>
      <label>Description
        <textarea placeholder="Description" name="description"></textarea>
      </label>
    </div>

    <div>
      <label>Project URL
        <input type="text" placeholder="Project URL" name="url"/>
      </label>
    </div>

    <div>
      <label>Project Date
        <input type="date" name="projectdate"/>
      </label>
    </div>

    <div>
      <label>Image
        <input type="file" placeholder="Image" name="projectimage"/>
      </label>
    </div>

    <div>
    	<button type="submit" class="button success">Submit</button>
      <a href="/admin" class="button default">Cancel</a>
    </div>
  
</form>
