<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catto | Portfolio</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="/images/avatar-550x350.png">
            <h5>Nhat Thanh</h5>
            <p>Hello guys, im Catto. I'm the founder of the "Catto Portfolio" application. You can use this web application to invest anything as you wish on the website. If you want me to post your products on this website, please contact me with the form bellow.</p>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title">Nhat Thanh</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Hello! This is the portfolio of a very witty person.</h1>
              <p class="lead">Those projects bellow are very good ones. Please check it out!</p>
            </div>
          </div>

          <div class="row small-up-2 medium-up-3 large-up-4">
            {{{body}}}
          </div>

          <hr>

          <div class="row">
            <div class="medium-6 columns">
              <h3>Contact The Catto</h3>
              <p>Please follow on Social Network like Facebook or Twitter to get the latest update of Catto Portfolio, good deals, giveaway, etc... I give you the link down bellow, clicking on it will lead you to my Social network. Thanks for spending your time to read it. Meow! btw, the form won't work, don't waste your time.</p>
              <ul class="menu">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Discord</a></li>
                <li><a href="/admin">Admin Area</a></li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <label>Name
                <input type="text" placeholder="Name">
              </label>
              <label>Email
                <input type="text" placeholder="Example@gmail.com">
              </label>
              <label>
                Message
                <textarea placeholder="Enter your messages."></textarea>
              </label>
              <input type="submit" class="button expanded" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>Catto Portfolio - 2018</p>
    </footer>
    

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/js/myAJAX.js"></script>
  </body>
</html>


    
